@import 'utils/colors';
@import 'utils/sharedStyles/btn';
@import 'utils/sharedStyles/textarea';
@import 'utils/positioning';

.container {
  height: 30%;
}

.formCont {
  width: 100%;
  height: 90%;
  margin-top: 0.4em;
  position: relative;
}

.textarea {
  @extend .textarea;
  width: 90%;
  height: 100%;
}

.btn {
  @extend .btn;
  font-size: 0.8em;
  position: absolute;
  right: 0%;
  top: 100%;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);

}
